<div class="web-layer layer"></div>
<div id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" style="width: 100%; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;"
    data-mode="cursor">
    <div class="overlay colorblack"></div>
    <div class="img-holder" style="background:url(../img/slide/3.jpg)" auto-height>
        <div class="container">
            <div class="text-left-ab text-sec-left">
                <div class="layer" data-depth="0.10">
                <div class="text-color3 fnt-60 uppercase avenir-medium line-height90">
                    Local
                </div>
                <div class="life-icon life-icon3 color-white fnt-60 uppercase avenir-medium line-height90">
                    <img src="img/cycle.png" alt="TravelLibro" class="cycle-section3"/>Life
                </div>
                </div>
            </div>
            <!-- <div class="mobile-video">
                        <div class="iphone-image">
                            <img src="img/iPhone.png" alt=""/>
                        </div>
                        <div class="videoplay">
                            <iframe src="http://www.youtube.com/embed/oHg5SJYRHA0?autoplay=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div> -->
            <div class="text-sec2">
                <div class="description">
                    <p class="color-white fnt-20 text-center avenir-heavy">
                        Cherish your local <br> life memories forever.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
