<div class="overlay colorblack"></div>
<div class="img-holder" style="background:url(../img/slide/2.jpg)" auto-height>
    <div class="container">
        <div class="text-left-ab text-sec-left">
            <div class="color-primary fnt-60 uppercase avenir-medium line-height90">
                Travel
            </div>
            <div class="life-icon color-white fnt-60 uppercase avenir-medium line-height90">
                <img src="img/life.png" alt="TravelLibro"/>Life
            </div>
        </div>
        <div class="text-sec2">
            <div class="description">
                <p class="color-white text-center avenir-heavy fnt-20 text-one">
                    Capture your Travel
                    <br>
                    Journeys live On-the-Go.
                </p>
                <p class="color-white text-center avenir-heavy fnt-20 text-two">
                    Start your journey and
                    <br>
                    add travel companions.
                </p>
                <p class="color-white text-center avenir-heavy fnt-20 text-three">
                    ​Record each moment
                    <br>
                    together.
                </p>
                <p class="color-white text-center avenir-heavy fnt-20 text-four">
                    ​Friends and family can
                    <br>
                    view your activities live.
                </p>
                <p class="color-white text-center avenir-heavy fnt-20 text-five">
                    ​A stunning travel
                    <br>
                    timeline of your entire trip.
                </p>
            </div>
        </div>
    </div>
</div>
