@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #ff6759 !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face {
  font-family: "Facile Sans";
  src: url("../fonts/.otf");
  src: url("../fonts/Facile-Sans.ttf");
  font-weight: normal;
  font-style: normal;
}
/* Start writing sass here */
body,
html {
  position: relative;
  height: 100%;
}

.footer,
.header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.footer {
  bottom: 0;
}

img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}

img {
  opacity: 0;
  @include transition(all 300ms ease);
}

img.doneLoading {
  opacity: 1;
}

nav li:hover .dropdown-menu {
  display: block;
}

.btn,
a {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//bootstrap forms

.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
  border-radius: 0;
  @include box-shadow(none);
}

.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}

.uppercase {
  text-transform: uppercase;
}

.fnt-28 {
  font-size: 28px;
}

.fnt-60 {
  font-size: 60px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #232c49;
  @include opacity(0.3);
}

.myslides {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100vh;
  border-bottom: 1px solid gray;
}

.nav-header {
  padding: 10px 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-holder {
  width: 100%;
  background-size: cover!important;
  background-position: center center!important;
  background-repeat: no-repeat!important;
}
// fonts
@font-face {
  font-family: "AvenirLTStd-Black";
  src: url('../fonts/AvenirLTStd-Black.otf');
}
@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url('../fonts/AvenirLTStd-Heavy.otf');
}
@font-face {
  font-family: "AvenirLTStd-Light";
  src: url('../fonts/AvenirLTStd-Light.otf');
}
@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url('../fonts/AvenirLTStd-Medium.otf');
}
@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url('../fonts/AvenirLTStd-Roman.otf');
}
@font-face {
  font-family: "djb";
  src: url('../fonts/djb.ttf');
}
@font-face {
  font-family: "JennaSue";
  src: url('../fonts/JennaSue.ttf');
}
// end fonts
// classes

.avenir-black {
  font-family: "AvenirLTStd-Black";
}

.avenir-heavy {
  font-family: "AvenirLTStd-Heavy";
}

.avenir-light {
  font-family: "AvenirLTStd-Light";
}

.avenir-medium {
  font-family: "AvenirLTStd-Medium";
}

.avenir-roman {
  font-family: "AvenirLTStd-Roman";
}

p {
  font-size: 14px;
}

.djb-font {
  font-family: "djb";
}

.jenna-font {
  font-family: "JennaSue";
}

.color-white {
  color: white;
}

.color-primary {
  color: $brand-success;
}

.text-sec1 {
  width: 40%;
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 20px;
  @include transform(translateY(-50%));

  .dot-icon {
    li {
      position: relative;
    }

    li+li:before {
      content: "\f111";
      font-family: FontAwesome;
      font-size: 6px;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: -6px;
      @include transform(translateY(-50%));
    }
  }
}

.text-right {
  text-align: right;
}
// slide1

.mobile-video {
  position: relative;
  padding-top: 40px;
  width: 340px;
  margin: 70px auto 0;

  .videoplay {
    padding-top: 40px;
    width: 250px;
    margin: 70px auto 0;
    position: absolute;
    top: 18px;
    left: 50%;
    @include transform(translateX(-50%));
  }

  iframe {
    width: 100%;
    height: 448px;
  }

  .iphone-image {
    img {
      width: 100%;
    }
  }
}
// slide2

.slide2 {
  .life-icon {
    img {
      width: 32px;
      vertical-align: middle;
      margin-top: -15px;
      margin-right: 10px;
    }
  }
}

.swiper-pagination-bullet {
  background: transparent;
  opacity: 1;
  border: 1px solid #fff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: white;
}

.text-sec2 {
  position: absolute;
  top: 50%;
  width: 250px;
  right: 90px;
  @include transform(translateY(-50%));
}
@import "fancybox-override";
