<div class="home-slide fullpage">
    <section class="home section rl">
        <div class="fullscreen-bg">
            <video class='videoPlayer' autoplay muted loop auto-height>
                <source src='img/video/Homevideo.mp4' type='video/mp4'>
            </video>
            <div class="overlay colorblue"></div>
        </div>
    </section>
    <section class="home section slide2 rl">
        <div class="overlay colorblack"></div>
        <div class="img-holder" style="background:url(../img/slide/2.jpg)" auto-height>
            <div class="container">
                <div class="text-left-ab text-sec-left">
                    <div class="color-primary fnt-60 uppercase avenir-medium line-height">
                        Travel
                    </div>
                    <div class="life-icon color-white fnt-60 uppercase avenir-medium line-height">
                        <img src="img/life.png" alt="TravelLibro"/>Life
                    </div>
                </div>
                <div class="text-sec2">
                    <div class="description">
                        <p class="color-white">
                            A stunning travel timeline of your entire trip.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home section rl">
        <div class="overlay colorblack"></div>
        <div class="img-holder" style="background:url(../img/slide/3.jpg)" auto-height>
            <div class="container">
                <div class="text-left-ab text-sec-left">
                    <div class="text-color3 fnt-60 uppercase avenir-medium line-height ">
                        Local
                    </div>
                    <div class="life-icon color-white fnt-60 uppercase avenir-medium line-height ">
                        <img src="img/cycle.png" alt="TravelLibro" class="cycle-section3"/>Life
                    </div>
                </div>
                <!-- <div class="mobile-video">
                            <div class="iphone-image">
                                <img src="img/iPhone.png" alt=""/>
                            </div>
                            <div class="videoplay">
                                <iframe src="http://www.youtube.com/embed/oHg5SJYRHA0?autoplay=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div> -->
                <div class="text-sec2">
                    <div class="description">
                        <p class="color-white avenir-heavy">
                            Cherish your local life memories forever.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home section rl">
        <div class="overlay colorblack"></div>
        <div class="img-holder" style="background:url(../img/slide/4.jpg)" auto-height>
            <div class="container">
                <div class="text-left-ab text-sec-left">
                    <div class="color-white fnt-60 uppercase avenir-medium line-height ">
                        My
                    </div>
                    <div class="life-icon color-white fnt-60 uppercase avenir-medium line-height ">
                        <img src="img/person.png" class="person-section4" alt="TravelLibro"/>Life
                    </div>
                </div>
                <div class="text-sec2 mylife-desc">
                    <div class="description">
                        <h4 class="color-white avenir-black text-center fnt-22">Journeys</h4>
                        <p class="color-white text-center text-center  avenir-heavy">
                            Relive the treasured experiences of your past travels and local activities.
                        </p>
                    </div>
                    <div class="description">
                        <h4 class="color-white avenir-black text-center fnt-22">Moments</h4>
                        <p class="color-white text-center  avenir-heavy">
                            Revisit the stunning pictures and videos of your travel and local life.
                        </p>
                    </div>
                    <div class="description">
                        <h4 class="color-white avenir-black text-center fnt-22">Reviews</h4>
                        <p class="color-white text-center  avenir-heavy">
                            Explore reviews of trendingplaces by travellers and locals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home section rl">
        <div class="overlay colorblack"></div>
        <div class="img-holder contact" style="background:url(../img/slide/5.jpg)" auto-height>
            <div class="container">
                <div class="ab contact-ab">
                    <div class="content-left">
                        <div class="contact-decrp">

                            <div class="color-white fnt-60 uppercase avenir-medium line-height  text-left">SPREAD
                                <img src="img/location.png" alt="" class="img-location"></div>
                            <div class="color-white fnt-60 uppercase avenir-medium line-height  text-left">
                                <span class="fnt-32">the
                                </span>
                                Word
                            </div>
                        </div>
                        <div class="mt20">
                            <div class="text-description">
                                <p class="color-white avenir-heavy text-center fnt-16 ">We would really appreciate if you can help us spread the word and share Travelibro for</p>
                            </div>
                            <div class="social-icons">
                                <ul class="list-unstyled list-inline color-white">
                                    <li>
                                        <a href="#" target="_blank" class="color-white">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="color-white">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="color-white">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="color-white">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="color-white">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="color-white">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" class="color-white">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="menu-contact ab">
                    <ul class="list-unstyled list-inline avenir-black">
                        <li>
                            <a usref="home" class="color-white">Destinations</a>
                        </li>
                        <li>
                            <a usref="home" class="color-white">Bookings</a>
                        </li>
                        <li>
                            <a usref="home" class="color-white">Itineraries</a>
                        </li>
                        <li>
                            <a usref="home" class="color-white">Blogs</a>
                        </li>
                        <li>
                            <a usref="home" class="color-white">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<div>
    <div class="slide4-none">
        <div class="fixed-mobile">
            <div class="mobile-video">
                <div class="iphone-image">
                    <img src="img/iPhone.png" alt=""/>
                </div>
            </div>
            <div class="slide-video">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-hash="slide1">
                            <div class="videoplay rl">
                                <video width="100%" height="400px" id="Video1">
                                    <source src="img/video/Local_life.mp4" type="video/mp4">
                                </video>
                                <a class="play-button text-cont ab color-white" ng-click="vidplay()" id="play">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide" data-hash="slide2">
                            <div class="videoplay" id="Video1">
                                <video width="100%" height="400px" ng-click="vidplay()">
                                    <source src="img/video/Travel_Life_Retimed.mp4" type="video/mp4">
                                </video>
                                <a class="play-button text-cont ab color-white" ng-click="vidplay()">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide" data-hash="slide3">
                            <div class="videoplay">
                                <video width="100%" height="400px">
                                    <source src="img/video/Local_life.mp4" type="video/mp4">
                                </video>
                                <a class="play-button text-cont ab color-white" ng-click="vidplay()">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide" data-hash="slide4">
                            <div class="videoplay">
                                <video width="100%" height="400px">
                                    <source src="img/video/Local_life.mp4" type="video/mp4">
                                </video>
                                <a class="play-button text-cont ab color-white" ng-click="vidplay()">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
