<div class="myslides">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="img-holder" style="background:url(../img/slide/1.jpg)" auto-height>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4" auto-height>
                                <div class="text-sec1 color-white">
                                    <ul class="list-unstyled dot-icon list-inline uppercase fnt-26 avenir-heavy">
                                        <li>Capture</li>
                                        <li>Inspire</li>
                                        <li>Relive</li>
                                    </ul>
                                    <ul class="list-unstyled list-inline avenir-black">
                                        <li>Travel Life</li>
                                        <li>Local Life</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mobile-video">
                                    <div class="iphone-image">
                                      <img src="img/iPhone.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-holder" style="background:url(../img/slide/2.jpg)" auto-height></div>
            </div>
            <div class="swiper-slide">
                <div class="img-holder" style="background:url(../img/slide/3.jpg)" auto-height></div>
            </div>
            <div class="swiper-slide">
                <div class="img-holder" style="background:url(../img/slide/4.jpg)" auto-height></div>
            </div>
            <div class="swiper-slide">
                <div class="img-holder" style="background:url(../img/slide/5.jpg)" auto-height></div>
            </div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
