<div class="myslides">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="overlay"></div>
                <div class="img-holder" style="background:url(../img/slide/1.jpg)" auto-height>
                    <div class="container">
                        <div class="text-sec1 color-white">
                            <ul class="list-unstyled dot-icon list-inline uppercase fnt-28 avenir-heavy">
                                <li>Capture</li>
                                <li>Inspire</li>
                                <li>Relive</li>
                            </ul>
                            <ul class="list-unstyled list-inline avenir-black">
                                <li>Travel Life</li>
                                <li>Local Life</li>
                            </ul>
                        </div>
                        <div class="mobile-video">
                            <div class="iphone-image">
                                <img src="img/iPhone.png" alt=""/>
                            </div>
                            <div class="videoplay">
                                <iframe src="http://www.youtube.com/embed/oHg5SJYRHA0?autoplay=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide slide2">
                <div class="overlay"></div>
                <div class="img-holder" style="background:url(../img/slide/2.jpg)" auto-height>
                    <div class="container">
                        <div class="text-sec1">
                            <div class="color-primary fnt-60 text-center uppercase avenir-medium">
                                Travel
                            </div>
                            <div class="life-icon color-white fnt-60 text-center uppercase avenir-medium">
                                <img src="img/life.png" alt="TravelLibro"/>Life
                            </div>
                        </div>
                        <div class="mobile-video">
                            <div class="iphone-image">
                                <img src="img/iPhone.png" alt=""/>
                            </div>
                            <div class="videoplay">
                                <iframe src="http://www.youtube.com/embed/oHg5SJYRHA0?autoplay=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="text-sec2">
                            <div class="description">
                                <p class="color-white">
                                    A stunning traveltimeline of your entire trip.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="overlay"></div>
                <div class="img-holder" style="background:url(../img/slide/3.jpg)" auto-height>
                    <div class="container">
                        <div class="text-sec1">
                            <div class="color-white fnt-60 text-center uppercase avenir-medium">
                                My
                            </div>
                            <div class="life-icon color-white fnt-60 text-center uppercase avenir-medium">
                                <img src="img/person.png" alt="TravelLibro"/>Life
                            </div>
                        </div>
                        <div class="mobile-video">
                            <div class="iphone-image">
                                <img src="img/iPhone.png" alt=""/>
                            </div>
                            <div class="videoplay">
                                <iframe src="http://www.youtube.com/embed/oHg5SJYRHA0?autoplay=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="text-sec2">
                            <div class="description">
                              <h4 class="color-white avenir-black">Journeys</h4>
                                <p class="color-white avenir-heavy">
                                    Relive the treasured experiences ofyour past travels and local activities.
                                </p>
                            </div>
                            <div class="description">
                              <h4 class="color-white avenir-black">Moments</h4>
                                <p class="color-white avenir-heavy">
                                  Revisit the stunning pictures andvideos of your travel and local life.
                                </p>
                            </div>
                            <div class="description">
                              <h4 class="color-white avenir-black">Reviews</h4>
                                <p class="color-white avenir-heavy">
                                    Explore reviews of trendingplaces by travellers and locals.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="overlay"></div>
                <div class="img-holder" style="background:url(../img/slide/4.jpg)" auto-height>
                    <div class="container">
                        <div class="text-sec1 color-white">
                            <ul class="list-unstyled dot-icon list-inline uppercase fnt-28 avenir-heavy">
                                <li>Capture</li>
                                <li>Inspire</li>
                                <li>Relive</li>
                            </ul>
                            <ul class="list-unstyled list-inline avenir-black">
                                <li>Travel Life</li>
                                <li>Local Life</li>
                            </ul>
                        </div>
                        <div class="mobile-video">
                            <div class="iphone-image">
                                <img src="img/iPhone.png" alt=""/>
                            </div>
                            <div class="videoplay">
                                <iframe src="http://www.youtube.com/embed/oHg5SJYRHA0?autoplay=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="overlay"></div>
                <div class="img-holder" style="background:url(../img/slide/5.jpg)" auto-height>
                    <div class="container">
                        <div class="text-sec1 color-white">
                            <ul class="list-unstyled dot-icon list-inline uppercase fnt-28 avenir-heavy">
                                <li>Capture</li>
                                <li>Inspire</li>
                                <li>Relive</li>
                            </ul>
                            <ul class="list-unstyled list-inline avenir-black">
                                <li>Travel Life</li>
                                <li>Local Life</li>
                            </ul>
                        </div>
                        <div class="mobile-video">
                            <div class="iphone-image">
                                <img src="img/iPhone.png" alt=""/>
                            </div>
                            <div class="videoplay">
                                <iframe src="http://www.youtube.com/embed/oHg5SJYRHA0?autoplay=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
